<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>후보번호</th>
                <th>투표수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td th:text="${c1}"></td>
            </tr>
            <tr>
                <td>2</td>
                <td th:text="${c2}"></td>
            </tr>
            <tr>
                <td>3</td>
                <td th:text="${c3}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>